<div class="page-header">
  <h1>Student #<%= @student.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= @student.email %></dd>

  <dt>Email end</dt>
  <dd><%= @student.email_end %></dd>

  <dt>First name</dt>
  <dd><%= @student.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @student.last_name %></dd>

  <dt>School</dt>
  <dd><%= @student.school %></dd>

  <dt>Pref location</dt>
  <dd><%= @student.pref_location %></dd>

  <dt>Gender</dt>
  <dd><%= @student.gender %></dd>

  <dt>Country</dt>
  <dd><%= @student.country %></dd>

  <dt>Dorm</dt>
  <dd><%= @student.dorm_id %></dd>

</dl>
