<div class="page-header">
  <h1><%= @student.first_name %> <%= @student.last_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= @student.email %></dd>

  <dt>Email end</dt>
  <dd><%= @student.email_end %></dd>

  <dt>First name</dt>
  <dd><%= @student.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @student.last_name %></dd>

  <dt>School</dt>
  <dd><%= @student.school.name %></dd>

  <dt>Pref location</dt>
  <dd><%= @student.pref_location %></dd>

  <dt>Gender</dt>
  <dd><%= @student.gender %></dd>

  <dt>Country</dt>
  <dd><%= @student.country %></dd>

  <dt>Dorm</dt>
  <% if @student.dorm_id.present? %>
    <dd><%= @student.dorm_id %></dd>
  <% else %>
    <dd>TBD</dd>
  <% end %>

</dl>

<dl class = "d1-horizontal">
  <% @response.each do |response| %>
    <dt><%= Question.find_by(school_id: @student.school_id, id: response.question_id).question_text %></dt>
    <dd><%= response.qanswer %></dd>
  <% end %>
</dl>
