<div class="page-header">
  <h1>Student #<%= @student.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= @student.email %></dd>

  <dt>First name</dt>
  <dd><%= @student.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @student.last_name %></dd>

  <dt>School</dt>
  <dd><%= @student.school %></dd>

  <dt>Pref location</dt>
  <dd><%= @student.pref_location %></dd>

  <dt>Crit 1</dt>
  <dd><%= @student.crit_1 %></dd>

  <dt>Crit 2</dt>
  <dd><%= @student.crit_2 %></dd>

  <dt>Crit 3</dt>
  <dd><%= @student.crit_3 %></dd>

  <dt>Crit 4</dt>
  <dd><%= @student.crit_4 %></dd>

  <dt>Crit 5</dt>
  <dd><%= @student.crit_5 %></dd>

  <dt>Crit 6</dt>
  <dd><%= @student.crit_6 %></dd>

  <dt>Crit 7</dt>
  <dd><%= @student.crit_7 %></dd>

  <dt>Crit 8</dt>
  <dd><%= @student.crit_8 %></dd>

  <dt>Crit 9</dt>
  <dd><%= @student.crit_9 %></dd>

  <dt>Crit 10</dt>
  <dd><%= @student.crit_10 %></dd>

  <dt>Gender</dt>
  <dd><%= @student.gender %></dd>

  <dt>Gender i</dt>
  <dd><%= @student.gender_i %></dd>

  <dt>Country</dt>
  <dd><%= @student.country %></dd>

  <dt>Dorm</dt>
  <dd><%= @student.dorm_id %></dd>

</dl>
