<% if @dorm.errors.any? %>
  <% @dorm.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Edit Dorm #<%= @dorm.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_dorm/<%= @dorm.id %>" class="form-horizontal">
      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">
          Name
        </label>
        <div class="col-sm-10">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @dorm.name %>">
        </div>
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">
          Address
        </label>
        <div class="col-sm-10">
          <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @dorm.address %>">
        </div>
      </div>

      <!-- Label and input for size -->
      <div class="form-group">
        <label for="size" class="col-sm-2 control-label">
          Size
        </label>
        <div class="col-sm-10">
          <input type="text" id="size" name="size" placeholder="Size" class="form-control" value="<%= @dorm.size %>">
        </div>
      </div>

      <!-- Label and input for school_id -->
      <% if current_student.admin == true %>
      <div class="form-group">
        <label for="school" class="col-sm-2 control-label">
          School
        </label>
        <div class="col-sm-10">
          <%= select_tag(:school_id, options_from_collection_for_select(School.all, :id, :name), :class => "form-control") %>
        </div>
      </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update Dorm" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
