<div class="page-header">
  <h1>Dorm #<%= @dorm.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dorm.name %></dd>

  <dt>Address</dt>
  <dd><%= @dorm.address %></dd>

  <dt>Location</dt>
  <dd><%= @dorm.location %></dd>

  <dt>Size</dt>
  <dd><%= @dorm.size %></dd>

  <dt>Gender i</dt>
  <dd><%= @dorm.gender %></dd>

  <dt>School</dt>
  <dd><%= @dorm.school_id %></dd>

</dl>
