<div class="page-header">
  <h1>Dorm #<%= @dorm.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dorm.name %></dd>

  <dt>Address</dt>
  <dd><%= @dorm.address %></dd>

  <dt>Size</dt>
  <dd><%= @dorm.size %></dd>

  <dt>Gender i</dt>
  <dd><%= @dorm.gender_i %></dd>

  <dt>Crit 1</dt>
  <dd><%= @dorm.crit_1 %></dd>

  <dt>Crit 2</dt>
  <dd><%= @dorm.crit_2 %></dd>

  <dt>Crit 3</dt>
  <dd><%= @dorm.crit_3 %></dd>

  <dt>Crit 4</dt>
  <dd><%= @dorm.crit_4 %></dd>

  <dt>Crit 5</dt>
  <dd><%= @dorm.crit_5 %></dd>

  <dt>Crit 6</dt>
  <dd><%= @dorm.crit_6 %></dd>

  <dt>Crit 7</dt>
  <dd><%= @dorm.crit_7 %></dd>

  <dt>Crit 8</dt>
  <dd><%= @dorm.crit_8 %></dd>

  <dt>Crit 9</dt>
  <dd><%= @dorm.crit_9 %></dd>

  <dt>Crit 10</dt>
  <dd><%= @dorm.crit_10 %></dd>

</dl>
