<% if @f_factor.errors.any? %>
  <% @f_factor.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Edit F Factor #<%= @f_factor.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_f_factor/<%= @f_factor.id %>" class="form-horizontal">
      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="col-sm-2 control-label">
          Student
        </label>
        <div class="col-sm-10">
          <input type="text" id="student_id" name="student_id" placeholder="Student" class="form-control" value="<%= @f_factor.student_id %>">
        </div>
      </div>

      <!-- Label and input for gender_i -->
      <div class="form-group">
        <label for="gender_i" class="col-sm-2 control-label">
          Gender i
        </label>
        <div class="col-sm-10">
          <input type="text" id="gender_i" name="gender_i" placeholder="Gender i" class="form-control" value="<%= @f_factor.gender_i %>">
        </div>
      </div>

      <!-- Label and input for factor_1 -->
      <div class="form-group">
        <label for="factor_1" class="col-sm-2 control-label">
          Factor 1
        </label>
        <div class="col-sm-10">
          <input type="text" id="factor_1" name="factor_1" placeholder="Factor 1" class="form-control" value="<%= @f_factor.factor_1 %>">
        </div>
      </div>

      <!-- Label and input for factor_2 -->
      <div class="form-group">
        <label for="factor_2" class="col-sm-2 control-label">
          Factor 2
        </label>
        <div class="col-sm-10">
          <input type="text" id="factor_2" name="factor_2" placeholder="Factor 2" class="form-control" value="<%= @f_factor.factor_2 %>">
        </div>
      </div>

      <!-- Label and input for factor_3 -->
      <div class="form-group">
        <label for="factor_3" class="col-sm-2 control-label">
          Factor 3
        </label>
        <div class="col-sm-10">
          <input type="text" id="factor_3" name="factor_3" placeholder="Factor 3" class="form-control" value="<%= @f_factor.factor_3 %>">
        </div>
      </div>

      <!-- Label and input for factor_4 -->
      <div class="form-group">
        <label for="factor_4" class="col-sm-2 control-label">
          Factor 4
        </label>
        <div class="col-sm-10">
          <input type="text" id="factor_4" name="factor_4" placeholder="Factor 4" class="form-control" value="<%= @f_factor.factor_4 %>">
        </div>
      </div>

      <!-- Label and input for factor_5 -->
      <div class="form-group">
        <label for="factor_5" class="col-sm-2 control-label">
          Factor 5
        </label>
        <div class="col-sm-10">
          <input type="text" id="factor_5" name="factor_5" placeholder="Factor 5" class="form-control" value="<%= @f_factor.factor_5 %>">
        </div>
      </div>

      <!-- Label and input for factor_6 -->
      <div class="form-group">
        <label for="factor_6" class="col-sm-2 control-label">
          Factor 6
        </label>
        <div class="col-sm-10">
          <input type="text" id="factor_6" name="factor_6" placeholder="Factor 6" class="form-control" value="<%= @f_factor.factor_6 %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update F Factor" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit F Factor #<%= @f_factor.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_f_factor/<%= @f_factor.id %>" class="form-horizontal">
          <!-- Label and input for student_id -->
          <div class="form-group">
            <label for="student_id" class="col-sm-2 control-label">
              Student
            </label>
            <div class="col-sm-10">
              <input type="text" id="student_id" name="student_id" placeholder="Student" class="form-control" value="<%= @f_factor.student_id %>">
            </div>
          </div>

          <!-- Label and input for gender_i -->
          <div class="form-group">
            <label for="gender_i" class="col-sm-2 control-label">
              Gender i
            </label>
            <div class="col-sm-10">
              <input type="text" id="gender_i" name="gender_i" placeholder="Gender i" class="form-control" value="<%= @f_factor.gender_i %>">
            </div>
          </div>

          <!-- Label and input for factor_1 -->
          <div class="form-group">
            <label for="factor_1" class="col-sm-2 control-label">
              Factor 1
            </label>
            <div class="col-sm-10">
              <input type="text" id="factor_1" name="factor_1" placeholder="Factor 1" class="form-control" value="<%= @f_factor.factor_1 %>">
            </div>
          </div>

          <!-- Label and input for factor_2 -->
          <div class="form-group">
            <label for="factor_2" class="col-sm-2 control-label">
              Factor 2
            </label>
            <div class="col-sm-10">
              <input type="text" id="factor_2" name="factor_2" placeholder="Factor 2" class="form-control" value="<%= @f_factor.factor_2 %>">
            </div>
          </div>

          <!-- Label and input for factor_3 -->
          <div class="form-group">
            <label for="factor_3" class="col-sm-2 control-label">
              Factor 3
            </label>
            <div class="col-sm-10">
              <input type="text" id="factor_3" name="factor_3" placeholder="Factor 3" class="form-control" value="<%= @f_factor.factor_3 %>">
            </div>
          </div>

          <!-- Label and input for factor_4 -->
          <div class="form-group">
            <label for="factor_4" class="col-sm-2 control-label">
              Factor 4
            </label>
            <div class="col-sm-10">
              <input type="text" id="factor_4" name="factor_4" placeholder="Factor 4" class="form-control" value="<%= @f_factor.factor_4 %>">
            </div>
          </div>

          <!-- Label and input for factor_5 -->
          <div class="form-group">
            <label for="factor_5" class="col-sm-2 control-label">
              Factor 5
            </label>
            <div class="col-sm-10">
              <input type="text" id="factor_5" name="factor_5" placeholder="Factor 5" class="form-control" value="<%= @f_factor.factor_5 %>">
            </div>
          </div>

          <!-- Label and input for factor_6 -->
          <div class="form-group">
            <label for="factor_6" class="col-sm-2 control-label">
              Factor 6
            </label>
            <div class="col-sm-10">
              <input type="text" id="factor_6" name="factor_6" placeholder="Factor 6" class="form-control" value="<%= @f_factor.factor_6 %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update F Factor" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
