<div class="page-header">
  <h1>M Factor #<%= @m_factor.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student</dt>
  <dd><%= @m_factor.student_id %></dd>

  <dt>Gender i</dt>
  <dd><%= @m_factor.gender_i %></dd>

  <dt>Factor 1</dt>
  <dd><%= @m_factor.factor_1 %></dd>

  <dt>Factor 2</dt>
  <dd><%= @m_factor.factor_2 %></dd>

  <dt>Factor 3</dt>
  <dd><%= @m_factor.factor_3 %></dd>

  <dt>Factor 4</dt>
  <dd><%= @m_factor.factor_4 %></dd>

  <dt>Factor 5</dt>
  <dd><%= @m_factor.factor_5 %></dd>

  <dt>Factor 6</dt>
  <dd><%= @m_factor.factor_6 %></dd>

</dl>
